@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f3f4f6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button {
  transition: 0.3s;
}
button:hover {
  opacity: 0.7;
}

.textarea {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 100%;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.title {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: bold;
  padding: 20px;
}

/* へぇボタンのCSS */
.hee-btn {
  position: relative;
  display: block;
  width: 193px;
  height: 120px;
}
.hee-btn:active .btn-top {
  top: 10px;
  height: 50px;
}
.btn-top {
  position: absolute;
  top: 0;
  left: 20px;
  width: 160px;
  height: 60px;
  margin-top: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0 0 50% 50%;
  background: #1b79c9;
}
.btn-top:before {
  position: absolute;
  top: -30px;
  left: 0;
  width: 160px;
  height: 60px;
  content: '';
  border-radius: 80px / 30px;
  background: #3299ea;
}
.btn-top span {
  font-size: 38px;
  font-weight: bold;
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  -webkit-transform: scaleY(0.75);
  transform: scaleY(0.75);
  text-align: center;
  color: #edecece0;
}
.btn-bottom {
  position: absolute;
  top: 38px;
  left: 0;
  width: 193px;
  height: 70px;
  border-radius: 100px / 40px;
  background: #d8e4ea;
  -webkit-box-shadow: 0 8px 0 #c4cacc;
  box-shadow: 0 8px 0 #c4cacc;
}
